h1{
font-family: Arial;
text-align: center;
color: white;
background-color: #851944;
}
h2{
font-family: Arial;
background-color: #f2fffc;
}
p{
   background-color: #f2fffc;
   font-family: Times New Roman ;
   text-align: justify;
 
}
